
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="/static/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/71ed577500.js" crossorigin="anonymous"></script>
    <title>Macowins</title>
</head>
<body>
    <header class="header">
        <!--logo macowins-->
            <a href="#inicio" aria-label="Ir a inicio" class="logo-cabecera">
                <img src="../static/img/logo-header.png" alt="logo de macowins">
            </a>
    
    
    
            <form class="buscador">
                        <input type="text" placeholder="Buscar" required>
                        <a href="#" class="boton-lupa">
                         <i class="fa fa-search icono"></i></a>
    
            </form>
        
            <!--menu-de-navegacion-->
            <nav>
                <ul id="menu-principal">
                    <li class="menu-inicio">
                        <a href="#inicio">Inicio</a>
                    </li>
                    <li class="menu-inicio">
                        <a href="sobre-nos">Sobre Nosotros</a>
                    </li>
                    <li class="menu-inicio">
                        <a href="#ayuda">Ayuda</a>
                    </li>

                </ul>
            </nav>
    
    
    
        </header>            
        
        
        
        <main>
            
             <!--detalles de la carta html-->
            
           <div class="card">
            <div class="=imgBox">
                <img src="../static/img/producto-catalogo.jpg" alt="Imagen de camisa">
            </div>
                <div class="detalle">
                    <div class="title"><br>
                        <h3>Camisa Mao
                            <small>Camisa de hombre</small> 
                        </h3>
                        </div>
                        <div class="description">
                            <h4>Descripcion</h4>
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti assumenda ducimus obcaecati omnis
                                reprehenderit est blanditiis dolor enim repellendus, deserunt aut ab vero qui quibusdam maxime, 
                                sint quasi inventore dolore.</p>
                        </div> 
                        <div class="talle">
                            <h4>Talles</h4>
                            <ul>
                                <li>XS</li>
                                <li>S</S></li>
                                <li>M</li>
                                <li>L</li>
                                <li>XL</li>
                                <li>XXL</li>
                            </ul>
                        </div>
                        <div class="comprar">
                            <div class="precio">
                                <sup>$</sup>
                                <span>4999. <small>99</small></span>
                                <div class="boton">
                                    <a href="#">Comprar</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
    
                
            
        </main>
        
        
        <footer>
            
            <div class="footer-content">
            

                <ul class="social">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i> </a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                </ul>
            
            <div class="footer-bottom">
                <p>Copyright &copy;2022 Macowins designed by <span> 2diseños</span></p>
            </div>
    
    
                
                
                
                
            </div>


        </footer>
</body>
</html>