<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="/static/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/71ed577500.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <header class="header">
        <!--logo macowins-->
            <a href="#inicio" aria-label="Ir a inicio" class="logo-cabecera">
                <img src="../static/img/logo-header.png" alt="logo de macowins">
            </a>
    
    
    
            <form class="buscador" action="/detalles" method="get">
                        <input type="text" name="por_nombre" placeholder="Buscar por nombre">
                        <label for="por_nombre"></label>
                        <a href="#" class="boton-lupa">
                         <i class="fa fa-search icono"></i></a>
    
            </form>
        
            <!--menu-de-navegacion-->
            <nav>
                <ul id="menu-principal">
                    <li class="menu-inicio">
                        <a href="#inicio">Inicio</a>
                    </li>
                    <li class="menu-inicio">
                        <a href="{{ url_for('lista_de_productos')}}" >Catálogo de productos</a>

                    </li>
                    
                    <li class="menu-inicio">
                        <a href="#ayuda">Faqs</a>
                    </li>
            
                </ul>
            </nav>
    
    
    
        </header>
            
        
        
        
        <main>
            
           <section>
                <h1>Home</h1>
           </section>

           <section id="inicio">

                <section class="varios_buscadores">
                    <form class="buscador_esp" action="/detalles" method="get">
                        <input type="text" placeholder="Busca por categoria" required>
                        <a href="#" class="boton-lupa">
                        <i class="fa fa-search icono"></i></a>

                    </form>

                    <form class="buscador_esp" action="/detalles" method="get">
                        <input type="text" placeholder="Buscar por precio" required>
                        <a href="#" class="boton-lupa">
                        <i class="fa fa-search icono"></i></a>

                    </form>

                    


                </section>
            
                <section class="container"> <!--catalogo-->
                        <p class="title"> Resultados de búsqueda</p>
                        <div class="products-container">
                            <div class="product">
                                <div class="card">
                                    <img src="../static/img/producto-catalogo.jpg" alt="Imagen de camisa">
                                    
                                </div>
                                    
                            </div>

                            <div class="product">
                                <div class="card">
                                    <img src="../static/img/producto-catalogo.jpg" alt="Imagen de camisa">
                                    
                                </div>
                                    
                            </div>

                            <div class="product">
                                <div class="card">
                                    <img src="../static/img/producto-catalogo.jpg" alt="Imagen de camisa">
                                    
                                </div>
                            </div>
                        </div> 
                </section>
                   
            </section>

            <!--desde aqui navego a la otra pagina /Productos/ pero no aparecen los productos en sucursal-->
            
                
            
        </main>
        
        
        <footer>
            
            <div class="footer-content">
            

                <ul class="social">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i> </a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                </ul>
            
            <div class="footer-bottom">
                <p>Copyright &copy;2022 Macowins designed by <span> 2diseños</span></p>
            </div>

                
            </div>
    
        
            
        </footer>
</body>
</html>