<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="/static/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/71ed577500.js" crossorigin="anonymous"></script>
    <title>Productos</title>
</head>
<body>
    <header class="header">
        <!--logo macowins-->
            <a href="#inicio" aria-label="Ir a inicio" class="logo-cabecera">
                <img src="../static/img/logo-header.png" alt="logo de macowins">
            </a>
    
    
    
            <form class="buscador">
                        <input type="text" placeholder="Buscar" required>
                        <a href="#" class="boton-lupa">
                         <i class="fa fa-search icono"></i></a>
    
            </form>
        
            <!--menu-de-navegacion-->
            <nav>
                <ul id="menu-principal">
                    <li class="menu-inicio">
                        <a href="#inicio">Inicio</a>
                    </li>
                    <li class="menu-inicio">
                        <a href="sobre-nos">Acerca de</a>
                    </li>
                    <li class="menu-inicio">
                        <a href="#ayuda">Faqs</a>
                    </li>

                </ul>
            </nav>
    
    
    
        </header>
            
        
        
        
        <main>
            
            <section>
                <h1>Bienvenido a Macowins</h1>
            </section>

            <section class="container"> <!--catalogo-->
                <p class="title"> Catálogo de productos</p>
                <div class="products-container">
                    <div class="product">
                        <div class="card">
                            <img src="../static/img/producto-catalogo.jpg" alt="Imagen de camisa">
                            <!--<span>Nombre: </span>lista {{ lista }}!-->
                            <section class="pestaña_detalle">
                                <h3>Camisa Oxford</h3>
                                <p class="precio">$4999,99</p>
                            
                            <a href="{{ url_for('detalles')}}" class="detalle-enlace-interno">Detalle de este producto</a>
                          </section>
                         </div>   
                    </div>

                    <div class="product">
                        <div class="card">
                            <img src="../static/img/producto-catalogo.jpg" alt="Imagen de camisa">
                            

                            <section class="pestaña_detalle">
                                <h3>Camisa de Cambray </h3>
                                <p class="precio">$4999,99</p>
                                <a href="{{ url_for('detalles')}}" class="detalle-enlace-interno">Detalle de este producto</a>
                            </section>
                        </div>
                            
                    </div>

                    <div class="product">
                        <div class="card">
                            <img src="../static/img/producto-catalogo.jpg" alt="Imagen de camisa">
                            
                            <section class="pestaña_detalle">
                                <h3>Camisa de Mao</h3>
                                <p class="precio">$4999,99</p>
                                
                                <a href="{{ url_for('detalles')}}" class="detalle-enlace-interno">Detalle de este producto</a>
                              </section>
                        </div>
                            
                    </div>

                    <div class="product">
                        <div class="card">
                            <img src="../static/img/producto-catalogo.jpg" alt="Imagen de camisa">
                            
                            <section class="pestaña_detalle">
                                <h3>Camisa cuello inglés</h3>
                                <p class="precio">$4999,99</p>
                                <a href="{{ url_for('detalles')}}" class="detalle-enlace-interno">Detalle de este producto</a>
                              </section>
                            
                            <!--<span>Categoria: </span> -->
                            
                        </div>
                            
                    </div>

                    
                </div>

            </section>
    
                
            
        </main>
        
        
        <footer>
            
            <div class="footer-content">
            

                <ul class="social">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i> </a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                </ul>
            
            <div class="footer-bottom">
                <p>Copyright &copy;2022 Macowins designed by <span> 2diseños</span></p>
            </div>
    
    
                
                
                
                
            </div>


        </footer>
</body>
</html>