<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="shortcut icon" href="/static/img/logo-icon.png">
    <script src="https://kit.fontawesome.com/71ed577500.js" crossorigin="anonymous"></script>
    <title>Ventas</title>
</head>
<body>
    <header class="header">
        <!--logo macowins-->
            <a href="{{ url_for('raiz') }}" aria-label="Ir a inicio" class="logo-cabecera">
                <img src="../static/img/logo-header.png" alt="logo de macowins">
            </a>
    
    
            <form class="buscador">
                        <input type="text" placeholder="Buscar" required>
                        <a href="#" class="boton-lupa">
                         <i class="fa fa-search icono"></i></a>
    
            </form>
        
            <!--menu-de-navegacion-->
            <nav>
                <ul id="menu-principal">
                    <li class="menu-inicio">
                        <a href="{{ url_for('raiz') }}">Cerrar sesion</a>
                    </li>
                    <li class="menu-inicio">
                        <a href="sobre-nos">Ayuda</a>
                    </li>
                    
            
                </ul>
            </nav>
    
    
    
        </header>
        
        <main>
            
            <h1 class="arriba">Lista de ventas</h1>


            <form class="fecha_filtro" action="filtro">
                <label> Desde </label>
                <input type="date">
                <label> hasta</label>
                <input type="date">
            </form>

            <!--Tabla de ventas-->
            <div class="contenido" >
                <table>
                    <thead>
                        <tr>
                            <th>Producto </th>
                            <th> Cantidad vendida </th>
                            <th> Precio </th>
                            <th> Fecha </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Remera</td>
                            <td>5</td>
                            <td>$4000</td>
                            <td>24/11/2022</td>

                        </tr>
                        <tr>
                            <td>Camisa</td>
                            <td>4</td>
                            <td>$5000</td>
                            <td>20/11/2022</td>
                            
                        </tr>
                        <tr>
                            <td>Pantalon</td>
                            <td>7</td>
                            <td>$5000</td>
                            <td>24/11/2022</td>
                            
                        </tr>
                        <tr>
                            <td>Corbata</td>
                            <td>10</td>
                            <td>$3000</td>
                            <td>15/11/2022</td>
                            
                        </tr>
                    </tbody>
                </table>

                

            </div>

        </main>
        
        
        <footer>
            
            <div class="footer-content">
            

                <ul class="social">
                    <li><a href="#"><i class="fa-brands fa-instagram"></i> </a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                </ul>
            
            <div class="footer-bottom">
                <p>Copyright &copy;2022 Macowins designed by <span> 2diseños</span></p>
            </div>

                
            </div>
    
        
            
        </footer>
</body>
</html>